<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu" data-widget="tree">
      <li class="treeview">
        <a href="#">
          <i class="fa fa-calendar"></i> <span>Consultas</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a><i class="fa fa-calendar"></i> List</a></li>
          <li><a><i class="fa fa-calendar"></i> New Ticket</a></li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-medkit"></i> <span>Medicamentos</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a><i class="fa fa-medkit"></i> List</a></li>
          <li><a><i class="fa fa-medkit"></i> New Ticket</a></li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-child"></i> <span>Membros</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a><i class="fa fa-circle-o"></i> List</a></li>
          <li><a><i class="fa fa-circle-o"></i> New Ticket</a></li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-user-md"></i> <span>Profissionais</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a><i class="fa fa-user-md"></i> List</a></li>
          <li><a><i class="fa fa-user-md"></i> New Ticket</a></li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-users"></i> <span>Usuários</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a><i class="fa fa-users"></i> List</a></li>
          <li><a><i class="fa fa-users"></i> New User</a></li>
        </ul>
      </li>
    </ul>
  </section>
</aside>