<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu tree" data-widget="tree">
      <li class="treeview">
        <a href="#">
          <i class="fa fa-calendar"></i> <span>Consultas</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a><i class="fa fa-calendar"></i> Nova Consulta</a></li>
          <li><a [routerLink]="['consulta']"><i class="fa fa-calendar"></i> Listagem</a></li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-medkit"></i> <span>Medicamentos</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a [routerLink]="['novo-medicamento']"><i class="fa fa-medkit"></i> Novo Medicamento</a></li>
          <li><a><i class="fa fa-medkit"></i> Listagem</a></li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-child"></i> <span>Membros</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a><i class="fa fa-circle-o"></i> Novo Membro</a></li>
          <li><a><i class="fa fa-circle-o"></i> Listagem</a></li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-user-md"></i> <span>Profissionais</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a><i class="fa fa-user-md"></i> Novo Profissional</a></li>
          <li><a><i class="fa fa-user-md"></i> Listagem</a></li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-users"></i> <span>Usuários</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a><i class="fa fa-users"></i> Novo Usuário</a></li>
          <li><a><i class="fa fa-users"></i> Listagem</a></li>
        </ul>
      </li>
    </ul>
  </section>
</aside>